.App {
  text-align: center;
}
.Header {
  font-family: 'Luckiest Guy', cursive;
  font-size: 75px;
  letter-spacing: 15px;
  color: black;
  text-shadow: 2px 2px 5px orange;
}
/* write your parent styles in here for your App.js */
